@import '../../mixins.scss';

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  h1 {
    font-size: 16px;
    color: $pageTitleH1Color;
  }
}
