@import '../../mixins.scss';

.side-menu {
  width: 50px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  background-color: $sideMenuBackgroundColor;
  border-right: 2px solid $sideMenuBorderRightColor;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1;

  &--opened {
    width: 250px;
  }

  &__item {
    margin-bottom: 5px;
    color: $sideMenuItemTextColor;

    &-title {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      background: $sideMenuItemBackgroundColor;
    }
  }

  &__sub-item {
    padding: 10px 10px 10px 20px;
    color: $sideMenuSubItemTextColor;
  }
}
