// Button
$buttonSaveBackgroundColor: green;
$buttonSaveTextColor: white;
$buttonCreateBackgroundColor: green;
$buttonCreateTextColor: white;
$buttonCancelBackgroundColor: none;
$buttonCancelTextColor: red;

// InputContainer
$inputContainerBorderColor: #c1c1c1;
$inputContainerRequiredColor: red;
$inputContainerLabelTitleTextColor: #c1c1c1;
$inputContainerLabelTitleTextColorOnFocus: black;
$inputContainerPrefixAndSuffixBackgroundColor: #e2e2e2;
$inputContainerPrefixAndSuffixTextColor: #999;

// TextAreaContainer
$textAreaContainerBorderColor: #c1c1c1;
$textAreaContainerRequiredColor: red;
$textAreaContainerLabelTitleTextColor: #c1c1c1;
$textAreaContainerLabelTitleTextColorOnFocus: black;
$textAreaContainerPrefixAndSuffixBackgroundColor: #e2e2e2;
$textAreaContainerPrefixAndSuffixTextColor: #999;

// PageTitle
$pageTitleH1Color: #333;

// SideMenu
$sideMenuBackgroundColor: #fff;
$sideMenuBorderRightColor: rgba(21, 34, 50, 0.88);
$sideMenuItemBackgroundColor: #e1e1e1;
$sideMenuItemTextColor: #333;
$sideMenuSubItemTextColor: #333;

// TopBar
$topBarBackgroundColor: red;
